<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <a mat-button><span class="fa fa-bars"></span></a>
  <h1>
    <span>同好網</span>
  </h1>
  <input matInput placeholder="想學什麼？" >
  <a mat-button>探索</a>
  <a mat-button>參與圈圈</a>
  <span class="flex-spacer"></span>
  <a mat-button class="signIn">登入</a>
  <a mat-button>註冊</a>
</mat-toolbar>

<div class="container jumbotron"
    fxLayout="row">
  <div fxFlex>
    <app-pool></app-pool>
  </div>
</div>



<!--<app-footer></app-footer>-->
